%tr.header-buttons
  %td{colspan: index_view.cols.length}
    - if index_view.show_new_button && (!index_view.records.is_a?(Array)) # && policy(index_view.record_class.new).new?)
      = link_to index_view.paths(@record)[:new], class: 'btn btn-default btn-sm' do
        = fa_icon 'plus'
        Nieuw

    - btns = index_view.header_buttons
    = btns if btns.present?

    .pull-right
      - unless index_view.locals[:no_filter]
        = link_to '#', class: 'btn btn-default show-all-search', title: 'Toon alle zoekvelden' do
          = fa_icon 'search'
      - if index_view.records.respond_to?(:total_pages) and index_view.records.present?
        = paginate index_view.records
