- if index_view.checkboxes
  - index = index_view.paths(controller.record_class.new)[:index]
  - if index.present?
    <form class="form-without-padding" action="#{polymorphic_path(index)}/many" method="post">
    %input(type="hidden" name="authenticity_token" value="#{form_authenticity_token}")

%table.table.table-striped.table-condensed.index-view{id: index_view.id, 'data-url' => index_view.xhr_url}
  %thead
    = render partial: 'crud_toolbox/index_view_buttons', locals: { index_view: index_view }

    %tr
      - index_view.cols.each do |col|
        %th(data-column="#{col.order}" class="#{col.class}")
          .relative-wrapper
            %span.column= col.header
            - if !index_view.locals[:no_order]
              - if col.order.present?
                - if index_view.order[:key].to_s == col.order.to_s
                  %span.order= fa_icon "sort-#{index_view.order[:dir]}"
                - elsif col.order.present?
                  %span.order= fa_icon 'sort'
            - if col.order.present? && !index_view.locals[:no_filter]
              - if col.values.present?
                %select.form-control.no-select2.filter
                  %option(value="")
                  - col.values.each do |v|
                    %option{value: v, selected: v == index_view.filter[col.order.to_s]}= v
              - else
                %input.form-control.filter(type="search" placeholder="Filter" value="#{index_view.filter[col.order.to_s]}")

  %tfoot
    = render partial: 'crud_toolbox/index_view_buttons', locals: { index_view: index_view }

  %tbody
    = render partial: 'crud_toolbox/index_view_tbody', locals: { index_view: index_view }

- if index_view.checkboxes && index.present?
  </form>
