%tr.header-buttons
  %td{colspan: list_view.cols.length}
    - if list_view.show_new_button && (!list_view.records.is_a?(Array) && policy(list_view.record_class.new).new?)
      = link_to list_view.paths(@record)[:new], class: 'btn btn-default btn-sm' do
        = fa_icon 'plus'
        Nieuw

    - btns = list_view.header_buttons
    = btns if btns.present?

    .pull-right
      - unless list_view.locals[:no_filter]
        = link_to '#', class: 'btn btn-default show-all-search', title: 'Toon alle zoekvelden' do
          = fa_icon 'search'
      - if list_view.records.respond_to?(:total_pages) and list_view.records.present?
        = paginate list_view.records
