- if list_view.checkboxes
  - index = list_view.paths(controller.record_class.new)[:index]
  - if index.present?
    <form class="form-without-padding" action="#{polymorphic_path(index)}/many" method="post">
    %input(type="hidden" name="authenticity_token" value="#{form_authenticity_token}")

%table.table.table-striped.table-condensed.list-view{id: list_view.id, 'data-url' => list_view.xhr_url}
  %thead
    = render partial: 'crud_toolbox/list_view_buttons', locals: { list_view: list_view }

    %tr
      - list_view.cols.each do |col|
        %th(data-column="#{col.order}" class="#{col.class}")
          .relative-wrapper
            %span.column= col.header
            - if !list_view.locals[:no_order]
              - if col.order.present?
                - if list_view.order[:key].to_s == col.order.to_s
                  %span.order= fa_icon "sort-#{list_view.order[:dir]}"
                - elsif col.order.present?
                  %span.order= fa_icon 'sort'
            - if col.order.present? && !list_view.locals[:no_filter]
              - if col.values.present?
                - if col.multi?
                  .dropdown
                    .filter-multi-status.dropdown-toggle.btn.btn-default.btn-xs{ 'data-toggle': 'dropdown'}
                      %span.status-text
                      .status-icon.fa.fa-caret-down
                    .filter-multi.dropdown-menu.dropdown-menu-right
                      - col.values.each do |v|
                        .checkbox
                          %label
                            %input{ name: col.order, type: :checkbox, value: v}
                            = v
                - else
                  %select.form-control.no-select2.filter
                    %option{ value: '' }
                    - col.values.each do |v|
                      %option{value: v, selected: v == list_view.filter[col.order.to_s]}= v
              - else
                %input.form-control.filter(type="search" placeholder="Filter" value="#{list_view.filter[col.order.to_s]}")

  %tfoot
    = render partial: 'crud_toolbox/list_view_buttons', locals: { list_view: list_view }

  %tbody
    = render partial: 'crud_toolbox/list_view_tbody', locals: { list_view: list_view }

- if list_view.checkboxes && index.present?
  </form>
