-# Show checkboxes before every row
- if list_view.checkboxes
  - index = list_view.paths(controller.record_class.new)[:index]
  - if index.present?
    <form class="form-without-padding" action="#{polymorphic_path(index)}/many" method="post">
    %input(type="hidden" name="authenticity_token" value="#{form_authenticity_token}")


%table.table.table-striped.table-condensed.list-view{id: list_view.id, 'data-url' => list_view.xhr_url}
  %thead
    %tr.header-buttons
      %td{colspan: list_view.cols.length}
        = render partial: 'crud_toolbox/list_view_buttons', locals: { list_view: list_view }
    %tr
      = render partial: 'crud_toolbox/list_view_headers', locals: { list_view: list_view }

  %tfoot
    %tr.header-buttons
      %td{colspan: list_view.cols.length}
        = render partial: 'crud_toolbox/list_view_buttons', locals: { list_view: list_view }

  %tbody
    = render partial: 'crud_toolbox/list_view_body', locals: { list_view: list_view }

- if list_view.checkboxes && index.present?
  </form>
