- if list_view.records.length == 0
  %tr.no-highlight
    %td{colspan: list_view.cols.length}
      Geen resultaten

- raise Exception, list_view.records.to_sql if Rails.env.development? and params[:to_sql].present?
- list_view.records.each do |row|
  %tr
    %td
      - btns = list_view.row_buttons row
      - if list_view.show_row_buttons && (policy(row).edit? || policy(row).destroy? || btns.present?)
        .btn-group
          .btn.btn-xs.btn-default.dropdown-toggle{'data-toggle' => 'dropdown'}
            = fa_icon 'caret-down fw'
          %ul.dropdown-menu{ role: 'menu' }
            - if policy(row).edit?
              %li
                = link_to list_view.paths(row)[:edit] do
                  = fa_icon 'pencil'
                  Bewerken
            - if policy(row).destroy?
              %li
                = link_to list_view.paths(row)[:show], data: { method: :delete, confirm: 'Verwijderen?', 'confirm-btnclass' => 'btn btn-danger' } do
                  = fa_icon 'trash-o'
                  Verwijderen

            - btns.each do |b|
              %li= b

    - list_view.data(row).each do |col|
      %td= col
