%span.tally
  - if collection.empty?
    0 rijen
  - elsif collection.respond_to?(:total_count)
    = collection.offset_value + 1

    - if collection.total_count > 1
      tot
      = collection.last_page? ? collection.total_count : collection.offset_value + collection.limit_value
      = "van #{collection.total_count} rijen "
    - else
      rij
  - else
    = pluralize(collection.size, 'rij', 'rijen')
